
@model Entity.Concrete.Message2

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Mesaj Detay Sayfası</h1>
<br />
{
@Html.Label("BlogId")
@Html.LabelFor(x => x.MessageId, new { @class = "form-control" })
<br />
@Html.Label("Mesaj Başlığı")
@Html.LabelFor(x => x.Subject, new { @class = "form-control" })
<br />
@Html.Label("Mesaj İçeriği")
@Html.LabelFor(x => x.MessageDetails, new { @class = "form-control" })
<br />
<button class="btn btn-success">Mesajlara Dön</button>
}


